*.class
# Log file
*.log
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar
/target/
*.prefs
*.component
*.container
*.classpath
*.tern-project
*.project
/org.eclipse.wst.common.project.facet.core.xml
/org.eclipse.wst.jsdt.ui.superType.name
/.jsdtscope